<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Pacifico|Vidaloka|Berkshire+Swash|IM+Fell+English+SC" rel="stylesheet">
</head>
<body>
    {% with messages =  get_flashed_messages() %}
        {% if messages %}
            {% for message in messages:%}
                <div id  = "flash_msg" class="alert alert-warning alert-dismissible" role="alert">
                    <button id  = "flash_close" type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{message}}
                </div>
            {% endfor %}
        <script>
            close = document.getElementById('flash_close');
            close_div = document.getElementById('flash_msg');
            close.addEventListener("click", function(){
                close_div.style.display =  'none';
            });
        </script>
        {% endif %}
    {% endwith%}

    {% block body %}

    {% endblock %}

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</html>
