<!-- The Modal -->
<div id="cheatsheetmodal" class="cheatsheetmodal">

  <!-- Modal content -->
  <div class="cheatsheetmodal-content" style="background: #ECF0F1;">
    <span class="close">&times;</span>
        <div class="markdownintro" style="padding: 40px; text-align: justify;">
              <h3 style="text-align: center;">Introduction to MarkDown</h3>
              <p>Markdown is a <code>lightweight markup language</code> with plain text formatting syntax. It is
                    designed so that it can be converted to HTML and many other formats using a tool by the same name.
                    Markdown is often used to format readme files, for writing messages in online discussion forums, and
                    to create rich text using a plain text editor.</p>

              <p>   At its core, Markdown is a super simple way to add formatting like headers, bold, bulleted lists,
                    and so on to plain text. It was originally designed to be an <code>easy alternative to HTML</code>,
                    and allows people to create web pages with no HTML experience—but it's also a great way to organize
                    notes, to-do lists, and other things. It has all the advantages of plain text, but with the organizational
                    power of a word processor. The end goal is a <code>minimalist writing system</code> that you can use to get your
                    thoughts down, and then export them elsewhere without worrying too much about the appearance.
              </p>
        </div>
        <h3 style="text-align: center;"> Cheat Sheet</h3>
        <h6 style="text-align: center;"><small> - copy sample makedown to see how it works</small></h6>

        <div class="row" style="padding: 10px 40px;">
              <div class="col-sm-6 modal-left" style="padding: 20px; border: solid white; background: black; opacity: .9; color: white;">
                    <h3>This is Sample MarkDown</h3><hr>
                    <p>#This is a h1 tag</p>
                    <p>##This is a h2 tag</p>
                    <p>###This is a h3 tag</p>
                    <p>---This is a Horizontal rule</p>
                    <p>```This is code format```</p>
              </div>
              <div class="col-sm-6 modal-right" style="padding: 20px; text-align: right; background: black; opacity: .9; color: white;">
                    <h3>This is the Rendered HTML</h3><hr>
                    <p><h1>This is a h1 tag</h1>
                    <h2>This is a h2 tag</h2>
                    <h3>This is a h3 tag</h3>
                    <hr style="background: white;">
                    <code>This is code format</code><br></p>
              </div>
        </div>
  </div>

</div>

