<div id="createnewprojectmodal" class="createnewprojectmodal">

  <!-- Modal content -->
  <div class="createnewprojectmodal-content">
    <span class="createnewprojectclose">&times;</span>


    <div id="createnewprojectmodal-innercontents">
      <h3 style="font-family: Pacifico;">Create new project</h3>
      <label for="newprojectname">Project Name:</label><br>
      <input type="text" id="newprojectname" required autofocus><br><br>
      <button class="btn btn-primary" style="float: right;" onclick="create_new_project()">Create</button>
    </div>
  </div>

</div>