{% extends '_default_layout.html' %}
    {% block body %}
        <style>
            body{
                background: #34495E;
            }
            .container{
                background: #F4F6F6;
                margin: auto;
                padding: 20px;
                border-style: solid;
                border-width: 3px 3px 3px 3px;
                box-shadow: 5px 10px 12px 12px #17202A;
            }
        </style>
        <div class="container">
            <div id="htmlcontent" >{{html_content}}</div>
        </div>
    {% endblock %}